@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body{
  background-color: #121212;
  color: white;
}

a{
  color:darkseagreen;
  transition: all 0.3s ease;
}

a:hover {
  color:cornflowerblue;
  transition: all 0.3s ease;
}

.head{
  height: 50px;
}

.navigation-container{
  text-align:right;
  transform: translateY(-30px);
}

.logo-image{
  object-fit: fill;
}

.head .name-text{
  height: 100px;
  vertical-align:40%;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.firstintro{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.secondintro{
  color: aliceblue;
  margin-top: -10px;
}

.row{
  display: flex;
}

.projects-container{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  float: left;
  vertical-align: top;
  position: relative;
}

.projects-container:not(:last-child)::after{
  /* this is vertical line */
  /* not last child is for making the line doesnt exist for the third part */
  content: '';
  position: absolute;
  background-color: white;
  height: 100%;
  width: 1px;
  top: 0;
  right: 100px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.review-1{
  background-color: #121212;
  display: flex;
  align-items: center;
  width: 250px;            
  height: 150px;             
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  color: white;
  float: left;
  position: relative;  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.review-1::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 3px;
   background-image: conic-gradient(from var(--angle), #000000, #ffffff, #4f5758, #ffffff, #000000);
   animation: 3s spin linear infinite;
}


.review-1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1.5rem);
  opacity: 0.2;
   background-image: conic-gradient(from var(--angle), #000000, #ffffff, #84898a, #ffffff, #000000);
  z-index: -2;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}


.copyright{
  clear: both;
  margin-top: 200px;
}


@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}
